@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.bg-full-w {
		clip-path: inset(0 -100vmax);
	}

	.text-gradient {
		@apply bg-gradient-to-r from-pink-500 to-violet-700 bg-clip-text text-transparent;
	}

	.gradient-icon {
		background: linear-gradient(to right, #ff6bbd, #7e57c2);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}

	body {
		@apply font-primary;
	}
}
